body {
    padding: 20px;
}

.form-row {
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 0;
}

.form-group label {
    font-weight: bold;
}

.error-message {
    color: red;
    font-size: 0.875em;
}

.form-control {
    max-width: 100%;
}

.btn {
    margin-top: 10px;
}

.user-data {
    margin-top: 20px;
}
/* font size */
.user-data table {
    font-size: 12px;
}

/* adds * in front of required field and do not add in selected elements */
label:not(.radio-inline, .checkbox-inline)::before {
    content: "*";
    color: red;
}
/* css from button */
button {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

/* remove spinner from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
